* {box-sizing: border-box; 
    /* Color scheme */
    
    --textcolor: rgb(0, 0, 0);
    --bgcolor: #F6F6F6;
    --highlight: #0095FF;
    --bg2color: #f6f6f6;
  
}

@media (prefers-color-scheme: dark) {
    * {
        --textcolor: #bbbbbb;
        --bgcolor: #141414;
        --bg2color: #252525;
        --highlight: #154479;
    }
    .img-text-logo {    
        filter: invert(100%)
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 5vh;
    line-height: 1.6;
    font-size: 18px;
    color: var(--textcolor);
    background: var(--bgcolor);
    position: relative;
    font-family: 'Avenir Next', sans-serif;
}

/* ------- Sections ------- */

section {
    width: 100%;
    background: var(--bgcolor);
    scroll-behavior: smooth;
}
    
section#home { /* Show #home by default */
    display: block;
    min-height: 100vh; 
    padding-left: 2vh;
    padding-right: 2vh;
}

h1 {
    font-size: 1.8em; 
    font-weight: bold;
    letter-spacing: 2.8px;
}

h2, h3 {
    line-height: 1.2
}

a {
    color: var(--textcolor);
    text-decoration: none;
}

.img-logo {
    width: 70px;
    display: block;
    margin-right: auto;
    margin-left: 20px;
    position: absolute;
}

.img-text-logo {    
    width: 180px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding-top: 15px;
}

.content {
    min-width: 80px;
    max-width: 600px;
    max-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    background-color: var(--bg2color);
    border-radius: 20px;
    box-shadow: 2px 1px 45px 0px rgba(0,0,0,0.29);
}

.innerBox {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 1px;
    padding-bottom: 35px;
}

.innerBox-text {
    text-align: left;
}

form {
    padding-top: 1em;
}

input[type="email"]
{
    color: var(--textcolor);
    height: 40px;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border-color: var(--highlight);
    border-width: 2;
    border-style: solid;
    transition: 1.5ms;
    background: url(img/lockIcon.png) no-repeat scroll 12px 8px;
    background-size: 15px;
    background-color: var(--bgcolor);
    padding-left: 40px;
    padding-right: 60px
}

::placeholder {
    color: var(--textcolor);
    opacity: 0.4;
    letter-spacing: 0.4px;
    font-size: 12pt;
}

.button-cta {
    clear: both;
    margin-top: 2em;
    background-color: var(--highlight);
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 10px;
    border-width: 0;
    font-family: 'Avenir Next', sans-serif;
}

.button-cta:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
    color: var(--highlight);
    border-color: var(--highlight);
    border-width: 2px;
}

.success {
    text-align: center;
}

.howTo-button{
    border: none;
    background-color: inherit;
    font-size: 15pt;
    font-weight: 900;
    opacity: 0.5;
    letter-spacing: 1.5px;
    width: 100%;
    margin-top: 35vh;
    color: var(--textcolor);
}

section#howto {
    background-color: var(--highlight);
    min-height: 120vh;
    padding-top: 10vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.howto-header{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    float: center;
}

.howto-title{
    padding-left: 3em;
    color: var(--bgcolor);
    float: left;
}

.illustration {
    width: 120px;
    float: right;
    margin-right: 60px;
    margin-bottom: -30px;
}

.howto-container {
    clear: both;
    max-width: 800px;
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg2color);
    border-radius: 20px;
    box-shadow: 2px 1px 45px 0px rgba(0,0,0,0.29);
}

.how-to-text {
    padding: 35px;
    margin: auto;
}

.madeby {
    margin-top: 10vh;
    text-align: center;
    color: var(--bgcolor);
}

.imprint-title {
    margin-top: 10vh;
    color: var(--bgcolor);
    font-size: 1.8em; 
    font-weight: bold;
    letter-spacing: 2.8px;
    text-align: center;
    padding-bottom: 10vh;
}

.imprint-title:hover {
    padding-bottom: 0vh;
}

.imprint-toggle:hover ~ .imprint-text {
    display: block;
  }

.imprint-text {
    font-size: 12px;
    color: var(--bgcolor);
    display: none;
    text-align: center;
    padding-bottom: 5vh;
}


/* ------- Smaller screens ------- */

@media only screen and (max-width: 570px) {
    body { font-size: 16px; }

    .form { font-size:  12px;}
    .how-to-text { font-size:  16px; }
    .img-logo { width: 50px; }
    .img-text-logo { width: 130px }
  }