* {box-sizing: border-box; 
    /* Color scheme */
    
    --textcolor: rgb(0, 0, 0);
    --bgcolor: #F6F6F6;
    --highlight: #0095FF;
  
}
/* 
@media (prefers-color-scheme: dark) {
    * {
        --textcolor: #f8f8f8;
        --bgcolor: #141414;
        --highlight: #157EFA;
    }
    .img-text-logo {    
        filter: invert(100%)
    }
} */

html, main {
    margin-right: -10px
}

body {
    margin-top: 2em;
    line-height: 1.6;
    font-size: 18px;
    color: var(--textcolor);
    background: var(--bgcolor);
    position: relative;
    font-family: 'Avenir Next', sans-serif;
}

/* ------- Sections ------- */

section {
    width: 100%;
    background: var(--bgcolor);
}
    
section#home { /* Show #home by default */
    display: block;
    height: 600px; 
    padding: 10px;
}

h1 {
    color: var(--textcolor);
    font-size: 1.8em; 
    font-weight: bold;
    letter-spacing: 2.8px;
}

h2, h3 {
    line-height: 1.2
}

a {
    color: var(--textcolor);
    text-decoration: none;
}

.img-logo {
    width: 70px;
    display: block;
    float: left;
    margin-right: auto;
    position: absolute;
}

.img-text-logo {    
    width: 180px;
    display: block; 
    float: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
}

.content {
    max-width: 1080px;
    max-height: 450px;
    margin: 3em;
    margin-top: 5em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 45px 0px rgba(0,0,0,0.29);
}

.innerBox {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 1px;
    padding-bottom: 35px;
}

.innerBox-text {
    text-align: left;
}

form {
    padding-top: 1em;
}

input[type="email"]
{
    color: var(--textcolor);
    height: 40px;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border-color: var(--highlight);
    border-width: 2;
    transition: 1.5ms;
    background: url(img/lockIcon.png) no-repeat scroll 12px 8px;
    background-size: 15px;
    padding-left: 40px;
    padding-right: 60px
}

::placeholder {
    color: var(--textcolor);
    opacity: 0.4;
    letter-spacing: 0.4px;
    font-size: 12pt;
}

.button-cta {
    clear: both;
    margin-top: 2em;
    background-color: var(--highlight);
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 10px;
    border-width: 0;
}

.button-cta:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
    color: var(--highlight);
    border-color: var(--highlight);
    border-width: 2px;
}

.success {
    text-align: center;
}

.howTo-button{
    border: none;
    background-color: inherit;
    font-size: 15pt;
    font-weight: 900;
    opacity: 0.5;
    letter-spacing: 1.5px;
    width: 100%;
    margin-top: 50%;
}

section#howto {
    background-color: var(--highlight);
    height: 1080px;
    margin-top: 65%;
    margin-left: -10px;
    padding-top: 80px
}

.howto-header{
    padding-left: 3em;
    filter: invert();
    float: left;
}

.illustration {
    width: 120px;
    float: right;
    margin-right: 60px;
    margin-bottom: -30px;
}

.howto-container {
    clear: both;
    max-width: 1080px;
    max-height: 650px;
    margin-left: 3em;
    margin-right: 3em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 45px 0px rgba(0,0,0,0.29);
}

.how-to-text {
    padding: 35px;
    margin: auto;
}



@media only screen and (min-width: 1080px) {    
    .body {        
        width: 900px;  
        display: block;             
    }

    .container {
        width: 100%; 
        justify-content: center;       
    }

    .form {        
        display: flex;          
    }
}
